.condicion{
    color: red;


} 
@media (max-width: 450px){
    h1{
        font-size: 130%;
    }
    p{
        font-size: 78%;
    }
    th{
        font-size: 75%;
    }
    td{
        font-size: 75%;
    }
    label{
        font-size: 100%;
    }
    
}
@media (min-width: 451px){
    h1{
        font-size: 150%;
    }
    p{
        font-size: 90%;
    }
    th{
        font-size: 90%;
    }
    td{
        font-size: 90%;
    }
    label{
        font-size: 100%;
    }
}

.container{
    
    min-height: 77.6vh;
    
}