.color{
    background-color: #1f3a93;
}

.col-sm-4{
    width: 33%;
}

img{
    width: 100%;
}

@media (max-width: 450px){
    p{
        font-size: x-small;
    }
    h4{
        font-size: x-small;
    }
}

.row{
    margin-top: 90%;
}

