<div class="container-fluid">
    <div class="row mt-5 text-center">
        <div class="col-md-12">
        <h4>Validar estado fracciones Raspe</h4>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12 px-5">
        <form [formGroup]="myForm" (ngSubmit)="onSubmit(fraccion.value)" class=""  action="">
            <label for="">Por favor escanee o digite la fraccion</label>
            <input (ngModelChange)="quitarMensajesError(fraccion.value)" [ngStyle]="{'border-color':(validacionRed==false)?'red':'black'} " placeholder="Ingrese el número de la fracción"  class="form-control mt-3  " #fraccion  formControlName="fraccionvalidar" type="text">
            <h6 class="condicion" > {{condicion}} </h6>
            <input class="btn btn-primary mt-2" value="Consultar" (click)="fracciones1(fraccion.value)" type="submit">

        </form>
        </div>
    </div>

    <div class="row mt-4 ">
        <div class="col-md-12">
        <h6>FRACCION CONSULTADA</h6>
        <p>{{fraccion2}}</p>

        <h6>CEDULA Y NOMBRE BODEGA</h6>
        <p> {{consultasFracciones[0][1]}} </p> 

        <h6>PAQUETE</h6>
        <p> {{consultasFracciones[0][9]}} </p> 
        
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                        <th scope="col">PRODUCTO</th>
                        <th scope="col">NUMERO</th>
                        <th scope="col">SERIE</th>
                        <th scope="col">FRACCION</th>
                        <th scope="col">ESTADO</th>
                        <th scope="col">FECHA VENTA</th>
                        <th scope="col">HORA VENTA</th>
                        <th scope="col">PAGADO</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let fraccion of consultasFracciones">
                            <td>{{fraccion[0]}}</td>
                            <td>{{fraccion[2]}}</td>
                            <td>{{fraccion[3]}}</td>
                            <td>{{fraccion[4]}}</td>
                            <td>{{fraccion[5]}}</td>
                            <td>{{fraccion[6]}}</td>
                            <td>{{fraccion[7]}}</td>
                            <td>{{fraccion[10]}}</td>
                            
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>