<div class="container border border-1 rounded">
    <div class="row fondo rounded text-white text-center">
        <div class="col-md-12 mt-2">
            <h1>Validar estado fracciones Raspe</h1>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12 px-5">
            <form [formGroup]="myForm" (ngSubmit)="onSubmit(fraccion.value)" class="" action="">
                <label class="fw-bolder" for="">Por favor escanee o digite la fraccion</label>
                <input (click)="limpiar()" (ngModelChange)="quitarMensajesError(fraccion.value)"
                    [ngStyle]="{'border-color':(validacionRed==false)?'red':'black'} "
                    placeholder="Ingrese el número de la fracción" class="form-control mt-3  " #fraccion
                    formControlName="fraccionvalidar" type="text">
                <h6 class="condicion"> {{condicion}} </h6>
                <input class="btn bg-button text-white mt-2" value="Consultar" type="submit">

            </form>
        </div>
    </div>

    <div class="row mt-4 ">
        <div class="col-md-12">

            <h6 *ngIf="cargando">CARGANDO INFORMACIÓN, POR FAVOR ESPERE</h6>

            <h6 *ngIf="ocultarTexto">FRACCION CONSULTADA</h6>
            <p *ngIf="ocultarTexto">{{fraccion2}}</p>

            <h6 *ngIf="ocultarTexto">CEDULA Y NOMBRE BODEGA</h6>
            <p> {{consultasFracciones[0][1]}} </p>

            <h6 *ngIf="ocultarTexto">PAQUETE</h6>
            <p> {{consultasFracciones[0][9]}} </p>

            <h6 *ngIf="ocultarTexto">PRODUCTO</h6>
            <p> {{consultasFracciones[0][0]}} </p>

            <h6 *ngIf="ocultarTexto">FECHA VENTA</h6>
            <p *ngIf="ocultarTexto"> {{consultasFracciones[0][6].substr(0,10)}}</p>

        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">NUMERO</th>
                            <th scope="col">SERIE</th>
                            <th scope="col">FRACCION</th>
                            <th scope="col">ESTADO</th>
                            <th scope="col">HORA VENTA</th>
                            <th scope="col">PAGADO</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let fraccion of consultasFracciones">
                            <td>{{fraccion[2]}}</td>
                            <td>{{fraccion[3]}}</td>
                            <td>{{fraccion[4]}}</td>
                            <td>{{fraccion[5]}}</td>
                            <td>{{fraccion[7]}}</td>
                            <td>{{fraccion[10]}}</td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>