<div class="container-fluid">
    <div class="row mt-5 text-center">
        <div class="col-md-12">
        <h4>Consultar premios pagados Raspa y Listo</h4>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12 px-5">
        <form [formGroup]="myForm" (ngSubmit)="onSubmit(serie.value, numero.value)">
            <label class="mt-3" for="">Por favor digite la serie</label><br>
            <input (click)="limpiar()" (ngModelChange)="quitarMensajesError(serie.value , numero.value )" [ngStyle]="{'border-color':(validacionRed==false)?'red':'black'} " placeholder="Ingrese la serie"  class="form-control mt-2  " #serie formControlName="serie" type="text" (ngModelChange)="mostrarTabla=false" (ngModelChange)="ocultarTexto=false">
            <label class="mt-3" for="">Digite el número</label>
            <input (click)="limpiar()" (ngModelChange)="quitarMensajesError(serie.value , numero.value )" class="form-control mt-3" [ngStyle]="{'border-color':(validacionRed==false)?'red':'black'} " placeholder="Ingrese el número"  class="form-control mt-2  " #numero formControlName="numero" type="text" (ngModelChange)="mostrarTabla=false" (ngModelChange)="ocultarTexto=false">
            <h6 class="condicion" > {{condicion}} </h6>
            <input class="btn btn-primary mt-2" value="Consultar" (click)="premios1(serie.value,numero.value)" type="submit">
            
        </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h6 class="mt-2" *ngIf="cargando" >CARGANDO INFORMACIÓN, POR FAVOR ESPERE</h6>
            <h6 class="mt-3" *ngIf="ocultarTexto">SERIE: </h6>
            <p class="mt-2" *ngIf="ocultarTexto">{{serie2}}</p>
            <h6 class="mt-3" *ngIf="ocultarTexto">NÚMERO: </h6>
            <p class="mt-2" *ngIf="ocultarTexto">{{numero2}}</p>
        </div>
    </div>


    <div class="row mt-4">
        <div class="col-md-12">
        <div class="table-responsive">
            <table class="table">
            <thead>
                <tr>
                    <th scope="col">LOTERIA</th>
                    <th scope="col">FECHA</th>
                    <th scope="col">VALOR</th>
                </tr>
            </thead>
            <tbody *ngIf="mostrarTabla">
                <tr *ngFor="let fracciones of consultasPremio | paginate: { itemsPerPage: 5, currentPage: page }">
                    <td>{{fracciones[2]}}</td>
                    <td>{{fracciones[3].substr(0,10)}}</td>
                    <td>{{fracciones[4]}}</td>
                </tr>
                
            </tbody>
            </table>
        </div>
        <pagination-controls (pageChange)="page = $event"></pagination-controls>
        </div>
    </div>

</div>
