<div class="container-fluid">
    <div class="row mt-5 text-center">
        <div class="col-md-12">
        <h4>Consultar premios pagados Raspa y Listo</h4>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12 px-5">
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
            <label for="">Por favor digite la serie</label><br>
            <input class="form-control mt-3" (ngModelChange)="quitarMensajesError(fraccion.value)" [ngStyle]="{'border-color':(validacionRed==false)?'red':'black'} " placeholder="Ingrese el número de la fracción"  class="form-control mt-3  " #fraccion formControlName="serie" type="text"><br>
            <label for="">Digite el número</label>
            <input class="form-control mt-3" formControlName="numero" type="text"><br>
            <input class="btn btn-primary mt-2" value="Consultar" (click)="traerConsultasPremio(serie.value,numero.value)" type="submit">

        </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
        <h6>Serie consultada: </h6>
        <p>{{serie.value}}</p>
        <h6>Número consultada: </h6>
        <p>{{numero.value}}</p>
        </div>
    </div>


    <div class="row mt-4">
        <div class="col-md-12">
        <div class="table-responsive">
            <table class="table">
            <thead>
                <tr>
                <th scope="col">PRODUCTO</th>
                <th scope="col">BODEGA</th>
                <th scope="col">SORTEO</th>
                <th scope="col">VALOR</th>
                <th scope="col">FRACCIONES</th>
                <th scope="col">VENDIDA</th>
                <th scope="col">SINVENTA</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let fracciones of consultasPremio">
                <th scope="row">1</th>
                <td>{{fracciones.name}}</td>
                
                </tr>
                <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td>@mdo</td>
                <td>@mdo</td>
                </tr>
                <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
                <td>@mdo</td>
                <td>@mdo</td>
                </tr>
            </tbody>
            </table>
        </div>
        
        </div>
    </div>

    <app-footer></app-footer>
</div>
