<div class="container-fluid">
    <div class="row   mt-5 text-center">
        <div class="col-md-12">
        <h4>Consultar transacciones del día</h4>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12 px-5 ">
        <form [formGroup]="myForm" (ngSubmit)="onSubmit(cedula.value,pass.value)" class=""  action="">
            <label for="">Por favor digite la cedula</label>
            <input  (ngModelChange)="quitarMensajesError(cedula.value)" [ngStyle]="{'border-color':(validacionRed==false)?'red':'black'} " placeholder="Ingrese su numero de cedula"  class="form-control mt-3  " #cedula  formControlName="cedulavalidar" type="text"><br>
            <label for="">Ingrese contraseña de POSSLIM a continuación</label>
            <input  (ngModelChange)="quitarMensajesError(pass.value)" [ngStyle]="{'border-color':(validacionRed==false)?'red':'black'} " placeholder="Ingrese su numero de contaseña"  class="form-control mt-3  " #pass  formControlName="transaccionvalidar" type="text">
            <h6 class="condicion mt-3"> {{condicion}} </h6>
            <input class="btn btn-primary mt-2" value="Consultar" (click)="cedula1(cedula.value)" type="submit">

        </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

        <h6 *ngIf="" >CARGANDO INFORMACIÓN, POR FAVOR ESPERE</h6>

        <h6>Cedula consultada</h6>
        <p>{{cedula2}}</p>

        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                        <th scope="col">TIPO</th>
                        <th scope="col">PROVEEDOR</th>
                        <th scope="col">PRODUCTO</th>
                        <th scope="col">HORA</th>
                        <th scope="col">CLAVE</th>
                        <th scope="col">VALOR</th>
                        <th scope="col">ACUMULADO</th>
                        <th scope="col">NRO</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        <tr *ngFor="let recorrer of transaccionDia | paginate: { itemsPerPage: 8, currentPage: pages } " >
                  
                            <td> {{recorrer[2]}} </td>
                            <td> {{recorrer[3]}} </td>
                            <td> {{recorrer[4]}} </td>
                            <td> {{recorrer[6]}} </td>
                            <td> {{recorrer[7]}} </td>
                            <td> {{recorrer[8]}} </td>
                            <td> {{recorrer[9]}} </td>
                            <td> {{recorrer[10]}} </td>
                          </tr>
                        <tr>
                        
                        
                    </tbody>

                    

                </table>
                <pagination-controls (pageChange)="pages = $event"></pagination-controls>
            </div>
        </div>
    </div>
</div>