<div class="container-fluid">
    <div class="row  mt-5 text-center">
        <div class="col-md-12">
          <h4>Consultar inventario Raspa y Listo</h4>
        </div>
    </div>
      <br>
      <div class="row">
        <div class="col-md-12 px-5 ">
          <form class=""  action="">
            <label for="">Por favor digite su cedula</label>
            <input  class="form-control mt-3" #cedula  type="text">   
            <input class="btn btn-primary mt-2"value="Consultar" (click)="traerDatosRaspa(cedula.value)"   type="button">
    
          </form>
        </div>
      </div>
    
      <br><br><div class="row">
        <div class="col-md-12">
          <h6>Cedula consultada</h6>
          <p> {{cedula.value}} </p>
        </div>
      </div>
    
    
      <div class="row mt-4">
        <div class="col-md-12">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">PRODUCTO</th>
                  <th scope="col">BODEGA</th>
                  <th scope="col">SORTEO</th>
                  <th scope="col">VALOR</th>
                  <th scope="col">FRACCIONES</th>
                  <th scope="col">VENDIDA</th>
                  <th scope="col">SINVENTA</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let recorrer of inventarioRaspas" >
                  
                  <td> {{recorrer}} </td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                  <td>@mdo</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Larry</td>
                  <td>the Bird</td>
                  <td>@twitter</td>
                  <td>@mdo</td>
                  <td>@mdo</td>
                </tr>
              </tbody>
            </table>
          </div>
          
        </div>  
    </div>

    <app-footer></app-footer>

</div>

