<div class="container-fluid">
    <div class="row  mt-5 text-center">
        <div class="col-md-12">
          <h4>Consultar inventario Raspa y Listo</h4>
        </div>
    </div>
      <br>
      <div class="row">
        <div class="col-md-12 px-5 ">
          <form [formGroup]="myForm" (ngSubmit)="onSubmit(cedula.value)" class=""  action="">
            <label for="">Por favor digite su cedula</label>
            <input (click)="limpiar()" placeholder="Ingrese su numero de cedula" (ngModelChange)="quitarMensajesError(cedula.value)" formControlName="cedulavalidar" [ngStyle]="{'border-color':(validacionRed==false)?'red':'black'} "  class="form-control mt-3" #cedula  type="text" (ngModelChange)="mostrarTabla=false" (ngModelChange)="ocultarTexto=false"> 
            <h6 class="condicion" > {{condicion}} </h6> 
            <input class="btn btn-primary mt-2"value="Consultar" (click)="inventarioRaspa(cedula.value)"   type="submit">
    
          </form>
        </div>
      </div>
    
      <br><br><div class="row">
        <div class="col-md-12">
          <h6 class="mt-2" *ngIf="cargando" >CARGANDO INFORMACIÓN, POR FAVOR ESPERE</h6>
          <h6 class="mt-2" *ngIf="ocultarTexto" >Cedula consultada</h6>
          <p *ngIf="ocultarTexto"> {{cedulaInventario}} </p>
        </div>
      </div>
    
    
      <div class="row mt-4">
        <div class="col-md-12">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">PRODUCTO</th>
                  <th scope="col">BODEGA</th>
                  <th scope="col">SORTEO</th>
                  <th scope="col">VALOR</th>
                  <th scope="col">FRACCIONES</th>
                  <th scope="col">VENDIDA</th>
                  <th scope="col">SINVENTA</th>
                </tr>
              </thead>
              <tbody *ngIf="mostrarTabla">
                <tr *ngFor="let recorrer of inventarioRaspas | paginate: { itemsPerPage: 5, currentPage: page }" >
                  
                  <td> {{recorrer[1]}} </td>
                  <td> {{recorrer[3]}} </td>
                  <td> {{recorrer[4]}} </td>
                  <td> {{recorrer[5]}} </td>
                  <td> {{recorrer[6]}} </td>
                  <td> {{recorrer[7]}} </td>
                  <td> {{recorrer[8]}} </td>
                </tr>
              </tbody>
            </table>
          </div>
          <pagination-controls (pageChange)="page = $event"></pagination-controls>
        </div>  
    </div>

    <app-footer></app-footer>

</div>

