.color{
    background-color: #1f3a93;
}


@media (min-width: 451px){
    a{
        font-size: 78%;
    }
    img{
        width: 85%;
    }
    li a{
        width: 250px;
    }
}
@media (max-width: 450px){
    a{
        font-size: 85%;
    }
    img{
        width: 65%;
    }
    li a{
        width: 200px;
    }
    
}

li a{
    text-decoration: none;
    color: black;
}

.dropdown-toggle::after { 
    content: none !important; 
}
