<div class="container-fluid">
  <div class="d-flex justify-content-between">
    <div class="mt-2">
      <a class="nav-link active" aria-current="page" routerLink="/"><img src="../assets/img/logo.png" alt=""></a>
    </div>

    <div id="nav">
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
          aria-expanded="false">
          <img src="../assets/img/iconomenu.png">
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/inventarioRaspa"><strong>Inventario Raspa</strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/premiosRaspa"><strong>Premios Raspa</strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/validacionFracciones"><strong>Validacion de fracciones Raspa y
                listo</strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/inventarioLoteriaFisica"><strong>Inventario loteria fisica</strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/transaccionesDelDia"><strong>Consultar transacciones del día</strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/consultaPremios"><strong>Consulta de premios</strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/devolucionFracciones"><strong>Fracciones en proceso de
                devolocion</strong></a>
          </li>
        </ul>

      </div>

    </div>

  </div>
</div>

<hr>

<router-outlet></router-outlet>
<br><br>
<app-footer></app-footer>
<ng-progress></ng-progress>