.color{
    background-color: #1f3a93;
}

.dropdown{
  transition: red 2s ease-out;
}


@media (min-width: 451px){
    a{
        font-size: 78%;
    } 
}
@media (max-width: 450px){
    a{
        font-size: 85%;
    }
    img{
        width: 50%;
    }
}

