h3{
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(12, 12, 214);
}

.container {
    
    min-height: 77.6vh;
    
}

.display-1{
    text-shadow: 3px 3px  gray;
}